<div class="example-container">
  <h1>Log In</h1>
  <form [formGroup]="authForm">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
        required
      />
      <!-- <mat-error *ngIf="authForm.controls['email'].invalid">{{
          getErrorMessage(authForm.controls["email"])
        }}</mat-error> -->
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <!-- <mat-error *ngIf="authForm.controls['password'].invalid">{{
          getErrorMessage(authForm.controls["password"])
        }}</mat-error> -->
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <div class="form-action-buttons">
      <button
        [routerLink]="['/dashboard']"
        type="button"
        mat-flat-button
        color="primary"
      >
        Sign In
      </button>
      <button
        [routerLink]="['/register']"
        type="button"
        mat-flat-button
        color="secondary"
      >
        Register
      </button>
    </div>
  </form>
</div>
