<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer opened="true" class="example-sidenav" mode="side">
    <ng-container *ngFor="let link of linksList">
      <div
        class="link-button"
        *ngIf="diplayNavLink(link)"
        [routerLink]="[link.route]"
      >
        <mat-icon aria-hidden="false" [fontIcon]="link.icon"></mat-icon>
        {{ link.text }}
      </div>
    </ng-container>
    <div class="link-button" (click)="logOut()">
      <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
      Logout
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
